body {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
}
.container {
    margin-bottom: 1rem;
    padding: 1rem;
}

.blue {
    background: lightblue;
    border: 1px solid darkblue;
}

.green {
    background: lightgreen;
    border: 1px solid darkgreen;
}

.container header,
form,
.start-date,
.end-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 0;
}

.list-button {
    padding: .6rem;
}

.list-item {
    background: white;
    width: 20rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid rgba(29,161,242,1);
}

.image-form-input,
.get-image-form-input,
.delete-image-form-input,
.start-end,
.printer-tag,
.booking-code {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin-right: 1rem;
}

form label {
    margin-right: .5rem;
}

#get-images .inner {
    display: flex;
    flex-wrap: wrap;
}
#get-images .inner img {
    flex-basis: 20%;
}