<!-- wp:columns {"lock":{"move":true,"remove":true},"className":"alignfull full-height margin-bottom-null"} -->
<div class="wp-block-columns alignfull full-height margin-bottom-null" id="main-wrapper"><!-- wp:column {"width":"90px","lock":{"move":true,"remove":true},"backgroundColor":"pale-cyan-blue"} -->
<div class="wp-block-column has-pale-cyan-blue-background-color has-background" style="flex-basis:90px" id="main-header"><!-- wp:template-part {"slug":"header","lock":{"move":false,"remove":false}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"490px","lock":{"move":true,"remove":true},"backgroundColor":"vivid-cyan-blue"} -->
<div class="wp-block-column has-vivid-cyan-blue-background-color has-background" style="flex-basis:490px" id="main-sidebar"><!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link" href="http://onsiteprint.dk/oversigt/">Tilbage</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"px","lock":{"move":true,"remove":true}} -->
<div class="wp-block-column" id="main-content"><!-- wp:post-content {"lock":{"move":false,"remove":false}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->