/* ------------------------------------------------------------------------

 *  Plugin Name: OnsitePrint Plugin
 *  Description: This is the Styles to the OnsitePrint Plugin.
 *  Author: Gerdes Group
 *  Author URI: https://www.clarify.nu/
 ?  Updated: 2022-12-07 - 10:52 (Y:m:d - H:i)

---------------------------------------------------------------------------
 #  TABLE OF CONTENTS:
---------------------------------------------------------------------------

    1. Print Style
    2. ACF Custom Blocks

---------------------------------------------------------------------------
 &  0. List of upcoming tasks
---------------------------------------------------------------------------

    1. More variables of Colors and Icons
    2. Media Queries

---------------------------------------------------------------------------
 #  1. Plugin Setup
--------------------------------------------------------------------------- */

html, body {
    margin: 0 !important;
    padding: 0 !important;
}

.op-pdf-container {
    width: 100%;
}

table .row-list-info,
table .op-event-item header {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
}

table .list-info {
    display: grid;
    grid-template-columns: repeat( 4, 25% );
}

table.op-pdf-container .op-pdf-row {
    page-break-after: always;
}

table.op-pdf-container article {
    page-break-inside: avoid;
}

thead.op-pdf-header {
    display: table-header-group;
}

tfoot.op-pdf-footer {
    display: table-footer-group;
}

/* ------------------------------------------------------------------------
 #  2. ACF Custom Blocks
---------------------------------------------------------------------------
 >  2c-8. Event Participant List
------------------------------------------------------------ */

.op-event-participant-list {
    line-height: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.op-event-participant-list p .op-icon {
    color: var(--wp--preset--color--neutral-60);
    font-size: 2rem;
}

.op-event-participant-list .op-block__inner > header {
    background: var(--wp--preset--color--white);
    align-items: center;
    margin-bottom: 2rem;
    position: sticky;
    top: 2rem;
    z-index: 100;
    border-radius: 0.4rem;
    box-shadow: 0 0.5rem 1rem var(--wp--preset--color--neutral-30), 0 -3rem 2rem 2rem var(--wp--preset--color--white);
}

.wp-admin .op-event-participant-list .op-block__inner > header {
    position: static;
    box-shadow: 0 0.5rem 1rem var(--wp--preset--color--neutral-30);
}

/* ------------------------------------------
 >  Participant Search Filter
--------------------------------------------- */

.op-event-participant-list .op-participants-search {
    padding: 1rem;
}

.op-event-participant-list .op-search-form {
    background: var(--wp--preset--color--primary-10);
    display: flex;
    border: 0.1rem solid var(--wp--preset--color--primary-90);
    border-radius: 0.4rem;
}

.op-event-participant-list :is( .op-search-label, .op-search-label input ) {
    display: flex;
    flex: 1;
}

.op-event-participant-list .op-search-label {
    color: var(--wp--preset--color--primary-40);
    font-weight: 500;
    transition: color 0.2s ease-in-out;;
}

.op-event-participant-list .op-search-label:is( :active, :hover, :focus, :focus-within, :focus-visible ) {
    color: var(--wp--preset--color--primary-100);
    font-weight: 600;
}

.op-event-participant-list .op-search-label .op-icon {
    color: currentColor;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.3rem;
    border-right: 0.1rem solid transparent;
    cursor: pointer;
}

.op-event-participant-list .op-search-label .op-icon:is( :hover, :focus )::before {
    background: var(--wp--preset--color--accent-60);
    color: var(--wp--preset--color--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0.4rem;
    transition: all 200ms ease-in-out;
}

.op-event-participant-list .op-search-label input {
    background-color: transparent;
    color: currentColor;
    padding: 1rem 2rem 1rem 0;
    border: none;
}

.op-event-participant-list [data-search-active="1"] .op-search-label input {
    padding-right: 0;
}

.op-event-participant-list .op-search-label input::placeholder {
    color: currentColor;
    font-weight: 500;
}

.op-event-participant-list .op-search-cancel {
    color: var(--wp--preset--color--primary-40);
    font-size: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    width: 5rem;
    cursor: pointer;
}

.op-event-participant-list .op-search-cancel:is( :hover, :focus ) .op-icon::before {
    background: var(--wp--preset--color--accent-60);
    color: var(--wp--preset--color--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0.4rem;
    transition: all 200ms ease-in-out;
}

.op-event-participant-list [data-search-active="1"] .op-search-cancel {
    display: flex;
}

.op-event-participant-list .op-search-filter {
    margin: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    position: relative;
    border: none;
    border-radius: 0.4rem;
}

.op-event-participant-list .op-filter-label .op-button-title {
    display: none;
}

.op-event-participant-list [id*=__filter-button],
.op-event-participant-list .op-filter-options .op-filter-input-label input {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
}

.op-event-participant-list :where(.op-filter-label) {
    background-color: var(--wp--preset--color--white);
    min-width: 4rem;
    max-width: 4rem;
}

.op-event-participant-list .op-filter-label .op-icon {
    padding: 0.9rem;
}

.op-event-participant-list [id*=__filter-button]:checked ~ .op-filter-label {
    border-radius: 0.4rem 0.4rem 0 0;
}

.op-event-participant-list [id*=__filter-button] ~ .op-filter-options {
    background-color: var(--wp--preset--color--white);
    display: none;
    flex-direction: column;
    width: 20.5rem;
    position: absolute;
    top: calc(100% - 0.6rem);
    right: 0.5rem;
    border: 0.1rem solid var(--wp--preset--color--primary-100);
    border-radius: 0.4rem 0 0.4rem 0.4rem;
    box-shadow: 0 0.5rem 1rem var(--wp--preset--color--neutral-30);
    overflow: hidden;
}

.op-event-participant-list [id*=__filter-button]:checked ~ .op-filter-options {
    display: flex;
}

.op-event-participant-list .op-filter-options .op-filter-input-label {
    color: var(--wp--preset--color--primary-40);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.op-event-participant-list .op-filter-input-label:is( :hover, :focus ) {
    background-color: var(--wp--preset--color--primary-10);
    color: var(--wp--preset--color--primary-100);
    border-color: var(--wp--preset--color--primary-100);
}

.op-event-participant-list .op-filter-input-label:not( :last-child ) {
    border-bottom: 0.1rem solid var(--wp--preset--color--neutral-20);
}

.op-event-participant-list .op-filter-input-label:first-child {
    border-color: var(--wp--preset--color--primary-20);
}

.op-event-participant-list .op-filter-input-label .op-check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid currentColor;
    border-radius: 1rem;
}

.op-event-participant-list .op-filter-input-label input:checked ~ .op-check {
    background-color: currentColor;
}

.op-event-participant-list .op-filter-input-label input:checked ~ .op-text {
    font-weight: 500;
}

.op-event-participant-list .op-filter-input-label input:checked ~ .op-check::before {
    background-color: var(--wp--preset--color--white);
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
}

/* ------------------------------------------
 >  Participant Column Info
--------------------------------------------- */

.op-event-participant-list .op-participant-col-info {
    display: none;
    grid-template-columns: 5rem repeat(3, 1fr) calc( 5ch + 4rem ) 5rem 16rem;
    align-items: center;
    padding: 0 1rem 1rem 1.4rem;
    border-radius: 0.4rem;
}

.op-event-participant-list .op-participant-col-info p {
    font-weight: 500;
    line-height: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem 2rem;
}

.op-event-participant-list .op-participant-col-info p:not( .op-col-amount-of-prints ) {
    border-right: 0.1rem solid var(--wp--preset--color--neutral-20);
}

.op-event-participant-list .op-participant-col-info p:is( .op-col-icon, .op-col-arrival-time, .op-col-amount-of-prints ) {
    justify-content: center;
    padding: 0;
}

/* ------------------------------------------
 >  Participant Rows
--------------------------------------------- */

.op-event-participant-list .op-participant-rows {
    font-weight: 500;
    gap: 0.3rem;
}

.op-event-participant-list .op-label,
.op-event-participant-list .op-col-amount-of-prints,
.op-event-participant-list .op-col-arrival-time {
    font-variant-numeric: tabular-nums;
}

.op-event-participant-list article {
    width: 100%;
}

.op-event-participant-list article header {
    background-color: var(--wp--preset--color--white);
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    z-index: 2;
    border-left: 0.4rem solid var(--wp--preset--color--primary-90);
    border-radius: 0.4rem;
    box-shadow: 0 0.5rem 1rem var(--wp--preset--color--neutral-30);
}

.op-event-participant-list article[data-op-arrival="1"] header {
    border-color: var(--wp--preset--color--accent-60);
}

.op-event-participant-list article.op-print-active header {
    border-color: var(--wp--preset--color--action-60);
}

.op-event-participant-list article header .op-col-icon .op-icon {
    background-color: var(--wp--preset--color--primary-10);
    color: var(--wp--preset--color--primary-90);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 0.1rem solid var(--wp--preset--color--primary-90);
    border-radius: 0.4rem;
}

.op-event-participant-list article[data-op-arrival="1"] .op-col-icon .op-icon {
    background-color: var(--wp--preset--color--accent-10);
    color: var(--wp--preset--color--accent-60);
    border-color: var(--wp--preset--color--accent-60);
}

.op-event-participant-list article[data-op-arrival="1"] .op-col-icon .op-icon::before {
    content: var(--fa-icon-check);
}

.op-event-participant-list article.op-print-active .op-col-icon .op-icon {
    background-color: var(--wp--preset--color--action-10);
    color: var(--wp--preset--color--action-60);
    border-color: var(--wp--preset--color--action-60);
}

.op-event-participant-list article.op-print-active .op-col-icon .op-icon::before {
    content: var(--fa-icon-print);
}

.op-event-participant-list .op-col-lines {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    border-right: 0.1rem solid var(--wp--preset--color--neutral-20);
}

.op-event-participant-list .op-col-lines p,
.op-event-participant-list header .op-col-arrival-time {
    overflow-wrap: anywhere;
    display: flex;
    align-items: center;
    padding: 0.9rem 1rem 0.9rem 0;
}

.op-event-participant-list .op-col-lines p:not(:last-child) {
    border-bottom: 0.1rem solid var(--wp--preset--color--neutral-20);
}

.op-event-participant-list .op-col-lines .op-label {
    color: var(--wp--preset--color--neutral-50);
    font-size: var(--wp--preset--font-size--x-small);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
    border: 0.1rem solid var(--wp--preset--color--neutral-30);
    border-radius: 50%;
}

.op-event-participant-list .op-col-print-info {
    display: flex;
    flex-direction: column;
}

.op-event-participant-list .op-col-print-info .op-button {
    flex: 1;
    min-width: 5rem;
    border-radius: 0.4rem 0.4rem 0 0;
}

.op-event-participant-list .op-col-print-info .op-button .op-icon {
    padding: 0;
}

.op-event-participant-list .op-col-print-info .op-col-amount-of-prints {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    border: 0.1rem solid var(--wp--preset--color--primary-90);
    border-top: none;
    border-radius: 0 0 0.4rem 0.4rem;
}

.op-event-participant-list article header :is( .op-col-icon, .op-col-arrival-time, .op-button .op-button-title ) {
    display: none;
}

/* ---------------------------
 >  Participant Row - Info
------------------------------ */

.op-event-participant-list article footer {
    background: var(--wp--preset--color--neutral-10);
    font-size: var(--wp--preset--font-size--x-small);
    color: var(--wp--preset--color--neutral-70);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: calc(100% - 2rem);
    max-height: 1rem;
    margin: -1rem auto 0;
    padding: 0 1.4rem;
    position: relative;
    z-index: 1;
    border-radius: 0 0 0.4rem 0.4rem;
    box-shadow: 0.2rem 0.5rem 1rem var(--wp--preset--color--neutral-30);
    overflow: hidden;
    transform: translateY(-100%);
    transition: all 0.2s ease-in-out;
}

.op-event-participant-list article.op-active:is( [data-op-arrival="1"], .op-print-active ) footer {
    padding: 2.6rem 1.4rem 1.6rem;
    max-height: 100%;
    transform: translateY(0);
}

.op-event-participant-list footer :where( .op-message, .op-col-arrival-time ) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.op-event-participant-list footer :where( .op-message, .op-col-arrival-time ) .op-icon {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2rem;
    margin-right: 1rem;
}

.op-event-participant-list footer .op-message .op-icon {
    background-color: var(--wp--preset--color--primary-10);
    color: var(--wp--preset--color--primary-90);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid var(--wp--preset--color--primary-90);
    border-radius: 3rem;
}

.op-event-participant-list article[data-op-arrival="1"] footer .op-message .op-icon {
    background-color: var(--wp--preset--color--accent-10);
    color: var(--wp--preset--color--accent-60);
    border-color: var(--wp--preset--color--accent-60);
}

.op-event-participant-list article[data-op-arrival="1"] footer .op-message .op-icon::before {
    content: var(--fa-icon-check);
}

.op-event-participant-list article.op-print-active footer .op-message .op-icon {
    background-color: var(--wp--preset--color--action-10);
    color: var(--wp--preset--color--action-60);
    border-color: var(--wp--preset--color--action-60);
}

.op-event-participant-list article.op-print-active footer .op-message .op-icon::before {
    content: var(--fa-icon-print);
}

.op-event-participant-list footer .op-col-arrival-time .op-icon::before {
    color: var(--wp--preset--color--neutral-50);
}






@media screen and ( min-width: 700px ) {

    /* #NG - 2022-11-07 */

    /* ------------------------------------------------------------------------
    #  2. ACF Custom Blocks
    ---------------------------------------------------------------------------
    >  2c-8. Event Participant List
    ------------------------------------------------------------ */


    /* ------------------------------------------
    >  Participant Search Filter
    --------------------------------------------- */

    .op-event-participant-list .op-search-label .op-icon {
        border-right-color: var(--wp--preset--color--primary-20);
    }

    .op-event-participant-list .op-search-label input {
        padding-left: 2rem;
    }

    .op-event-participant-list :where(.op-filter-label) {
        min-width: 20.5rem;
        max-width: 20.5rem;
    }
    
    .op-event-participant-list .op-filter-label .op-icon {
        padding-right: 1.2rem;
        padding-left: 1.6rem;
    }

    .op-event-participant-list .op-filter-label .op-button-title {
        display: flex;
    }
    
    .op-event-participant-list [id*=__filter-button] ~ .op-filter-options {
        border-radius: 0 0 0.4rem 0.4rem;
    }    

    /* ------------------------------------------
    >  Participant Column Info
    --------------------------------------------- */

    .op-event-participant-list .op-participant-col-info {
        display: grid;
    }

    /* ------------------------------------------
    >  Participant Rows
    --------------------------------------------- */

    .op-event-participant-list article header {
        grid-template-columns: auto 1fr calc( 5ch + 4rem ) auto;
        gap: 0;
    }

    .op-event-participant-list article header :is( .op-col-icon, .op-col-arrival-time, .op-button .op-button-title ) {
        display: flex;
    }

    .op-event-participant-list .op-col-lines {
        display: grid;
        grid-template-columns: repeat(3, calc(100% / 3));
        padding: 0;
    }

    .op-event-participant-list .op-col-print-info .op-button {
        min-width: 16rem;
        border-radius: 0 0.4rem 0.4rem 0;
    }
        
    .op-event-participant-list .op-col-print-info .op-button .op-icon {
        display: none;
    }

    .op-event-participant-list .op-col-print-info .op-button .op-button-title {
        padding-left: 2.4rem;
    }

    .op-event-participant-list :where( .op-icon )::before {
        font: var(--fa-font-solid);
        font-size: 2.4rem;
    }

    .op-event-participant-list .op-col-lines p, 
    .op-event-participant-list header .op-col-arrival-time {
        min-width: 0;
        padding: 0.9rem 2rem;
    }
    
    .op-event-participant-list .op-col-lines p:not(:last-child) {
        border-right: 0.1rem solid var(--wp--preset--color--neutral-20);
        border-bottom: none;
    }

    .op-event-participant-list .op-col-lines p .op-label {
        display: none;
    }

    .op-event-participant-list .op-col-lines p .op-text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .op-event-participant-list header .op-col-arrival-time::before {
        display: none;
    }

    .op-event-participant-list .op-col-print-info {
        flex-direction: row-reverse;
    }

    .op-event-participant-list .op-col-print-info .op-col-amount-of-prints {
        width: 5rem;
        border-top: 0.1rem solid;
        border-right: none;
        border-radius: 0.4rem 0 0 0.4rem;
    }

    .op-event-participant-list article footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .op-event-participant-list article.op-active:is( [data-op-arrival="1"], .op-print-active ) footer {
        padding: 1.6rem 1.4rem 0.6rem;
    }

    .op-event-participant-list footer .op-col-arrival-time .op-icon {
        height: 2rem;
    }

}




/* ------------------------------------------------------------------------
 #  4. Print Style
--------------------------------------------------------------------------- */

.pdf-header {
    display: table-footer-group;
}

.number::before {
    counter-increment: page;
    content:"Page " counter(page);
    left: 0; 
    top: 100%;
    white-space: nowrap; 
    z-index: 20;
    -moz-border-radius: 5px; 
    -moz-box-shadow: 0px 0px 4px #222;  
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
}
    
/*.number::before {
    counter-increment: page;
    font-size: 5rem;
    content:counter(page);
}
.pdf-header {
    display: table-footer-group;
}*/

/*.number::before {
    counter-increment: page;
    content: counter(page) " of " counter(pages);
    font-size: 3rem;
}*/
