[id*="op-block"] {
    font-size: 62.5%;
    box-sizing: border-box;
}

[id*="op-block"],
[id*="op-block"] * {
    color: #3b4151;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 1.6rem;
}

section[id*="op-block"] {
    background: white;
    margin-bottom: 1rem;
    border: .1rem solid darkgrey;
    border-radius: .3rem;
    overflow: hidden;
}

section[id*="op-block"].last {
    margin: 0;
}

[id*="op-block"].active .op-block__inner {
    display: flex;
    flex-direction: column;
}

[id*="op-block"] .op-block__inner,
[id*="op-block"] .active .op-block__inner,
[id*="op-block"] .active .op-block__wrapper {
    display: block;
    padding: .5rem;
}

[id*="op-block"] .validation-info.active {
    display: block;
    padding: 1rem 1rem 0;
}

[id*="op-block"] .validation-info,
body[data-loged-in="false"] [id*="-logout"].op-block__wrapper,
body[data-loged-in="true"] [id*="-login"].op-block__wrapper,
[id*="op-block"] .op-block__inner:not(.active) .op-block__wrapper {
    display: none;
}


body[data-loged-in="false"] [id*="-logout"] .content {
    border-color: #f93e3e;
    background: rgba(249,62,62,.1);
}

body[data-loged-in="true"] [id*="-login"] .content {
    border-color: #49cc90;
    background: rgba(73,204,144,.1);
}

[id*="op-block"] header,
[id*="op-block"] .responses {
    border-radius: .3rem;
    overflow: hidden;
}

[id*="op-block"].active header {
    border-radius: .3rem .3rem 0 0;
}

[id*="op-block"] header {
    cursor: pointer;
}

[id*="op-block"] header,
[id*="op-block"] .op-block__wrapper.active .content {
    display: flex;
    padding: 1rem;
    position: relative;
    border: .1rem solid darkgrey;
}

[id*="op-block"] header.header-parrent {
    background: #eee;
    padding: 1.5rem 2rem;
    border-width: 0 0 .1rem 0;
}

[id*="op-block"]:not(.active) > .header-parrent {
    border: none;
}

[id*="op-block"] .content {
    display: none;
    flex-direction: column;
    border-radius: .3rem;
}

[id*="op-block"] .op-block__wrapper.active header ~ .content {
    border-top: none;
    border-radius: 0 0 .3rem .3rem;
    overflow: hidden;
}

[id*="op-block"] .responses {
    background: white;
    display: none;
    margin-top: 1rem;
    padding: 1rem;
    border: .1rem solid darkgrey;
}

[id*="op-block"] .responses.active {
    display: block;
}

[id*="op-block"] .responses .inner {
    padding-top: 1rem;
}

[id*="op-block"] .op-block__wrapper.get header,
[id*="op-block"] .op-block__wrapper.get .content {
    background: rgba(97,175,254,.1);
    border-color: #61affe;
}

[id*="op-block"] .op-block__wrapper.get .responses {
    border-color: #61affe;
}

[id*="op-block"] .op-block__wrapper.get h3 span,
[id*="op-block"] .op-block__wrapper.get button {
    background: #61affe;
    border-color: #61affe;
}

[id*="op-block"] .op-block__wrapper.post header,
[id*="op-block"] .op-block__wrapper.post .content {
    background: rgba(73,204,144,.1);
    border-color: #49cc90;
}

[id*="op-block"] .op-block__wrapper.post .responses {
    border-color: #49cc90;
}

[id*="op-block"] .op-block__wrapper.post h3 span,
[id*="op-block"] .op-block__wrapper.post button {
    background: #49cc90;
    border-color: #49cc90;
}

[id*="op-block"] .op-block__wrapper.put header,
[id*="op-block"] .op-block__wrapper.put .content {
    background: rgba(252,161,48,.1);
    border-color: #fca130;
}

[id*="op-block"] .op-block__wrapper.put .responses {
    border-color: #fca130;
}

[id*="op-block"] .op-block__wrapper.put h3 span,
[id*="op-block"] .op-block__wrapper.put button {
    background: #fca130;
    border-color: #fca130;
}

[id*="op-block"] .op-block__wrapper.delete header,
[id*="op-block"] .op-block__wrapper.delete .content {
    background: rgba(249,62,62,.1);
    border-color: #f93e3e;
}

[id*="op-block"] .op-block__wrapper.delete .responses {
    border-color: #f93e3e;
}

[id*="op-block"] .op-block__wrapper.delete h3 span,
[id*="op-block"] .op-block__wrapper.delete button {
    background: #f93e3e;
    border-color: #f93e3e;
}

[id*="op-block"] header,
[id*="op-block"] .start-date,
[id*="op-block"] .end-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[id*="op-block"] .form-container {
	display: flex;
	justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

[id*="op-block"] .form-container form {
    display: flex;
	justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 1rem;
}

[id*="op-block"] .form-validate,
[id*="op-block"] .content .flex-wrap {
    flex: 1 100%;
    margin: 0;
}

[id*="op-block"] .form-validate div {
    background: white;
    margin-bottom: 1rem;
    border-radius: .3rem;
}

[id*="op-block"] .validation-error {
    background: white;
    display: none;
    border-radius: .3rem;
}

[id*="op-block"] .validation-info.active .validation-error,
[id*="op-block"] .validation-error.active {
    display: block;
}

[id*="op-block"] .validation-error.active ~ input {
    border: .1rem solid #f93e3e;
}

[id*="op-block"] .validation-info p,
[id*="op-block"] .validation-error p {
    background: rgba(249,62,62,.1);
    font-size: 1.4rem;
    line-height: 1;
    margin: 0;
    padding: 1rem;
    border: .1rem solid #f93e3e;
    border-radius: .3rem;
}

[id*="op-block"] .validation-info p span,
[id*="op-block"] .validation-info p span {
    color: #f93e3e;
    font-weight: bold;
}

[id*="op-block"] .form-inner {
    display: flex;
    align-items: center;
    flex: 1;
}

[id*="op-block"] h1 {
	padding: 2rem;
}
[id*="op-block"] h2, [id*="op-block"] h3, [id*="op-block"] h4 {
    margin: 0;
    line-height: 1.5;
}
[id*="op-block"] h2 {
    font-size: 1.6rem;
}
[id*="op-block"] h3 {
    font-size: 1.4rem;
}
[id*="op-block"] h4 {
    font-size: 1.2rem;
}

[id*="op-block"] .arrow {
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 2rem;
    border-right: .2rem solid #3b4151;
    border-bottom: .2rem solid #3b4151;
    transform: rotate(45deg) translateX(-.5rem);
}
[id*="op-block"].active > header > .arrow {
    transform: rotate(-135deg) translateX(-.5rem);
    right: 2.7rem;
}

[id*="op-block"] h3 span {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    display: inline-flex;
    justify-content: center;
    min-width: 6rem;
    margin-right: 1rem;
    padding: .7rem 1.4rem;
    border-radius: .3rem;
    text-shadow: 0 .1rem 0 rgba(0,0,0,.2);
}

[id*="op-block"] .list-button {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    align-self: flex-end;
    min-width: 15rem;
    padding: .6rem 1.2rem;
    border: .1rem solid black;
    border-radius: .3rem;
    cursor: pointer;
    text-shadow: 0 .1rem 0 rgba(0,0,0,.2);
}

[id*="op-block"] button.list-button:hover,
[id*="op-block"] input:hover {
    border-color: black;
}

[id*="op-block"] .list-item {
    background: white;
    width: 20rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: .1rem solid rgba(29,161,242,1);
}

[id*="op-block"] .image-form-input,
[id*="op-block"] .input-outer {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin-right: 1rem;
}

[id*="op-block"] form label {
    font-size: 1.3rem;
    margin-right: .5rem;
}

[id*="op-block"] input {
    background: white;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 0.5rem;
    border: .1rem solid darkgrey;
    border-radius: .3rem;
    overflow: hidden;
}

[id*="op-block"] .inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

[id*="op-block"] #get-all-images .inner {
    flex-direction: row;
}

[id*="op-block"] #get-all-images .inner article {
    flex-basis: calc((100% - 2rem) / 3);
}

[id*="op-block"] article {
    background: #3b4151;
    padding: 1rem;
    border: .1rem solid #3b4151;
    border-radius: .3rem;
    box-sizing: border-box;
}
[id*="op-block"] article:last-child {
    margin-bottom: 0;
}
[id*="op-block"] article * {
    color: white;
    font-size: 1.2rem;
}
[id*="op-block"] article p {
    margin: 0 0 1rem;
}
[id*="op-block"] article p:last-child {
    margin: 0;
}
[id*="op-block"] article iframe {
    border: none;
    border-radius: .3rem;
}

[id*="op-block"] .grid-list.active {
    height: 30rem;
}
[id*="op-block"] .button-save-csv {
    margin-right: 1rem;
}