/* ------------------------------------------------------------------------
 #  The OnsitePrint (Event) Block Style 
 ?  Updated: 2025-06-26 - 11:43 (Y:m:d - H:i)
 ?  Info: Added Participant Skeleton and CSS animation.
--------------------------------------------------------------------------- */

.op-block__event {
    line-height: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.op-block__event p .op-icon {
    color: var(--wp--preset--color--neutral-60);
    font-size: 2rem;
}

.op-block__event .op-block__inner > header {
    background: var(--wp--preset--color--white);
    align-items: center;
    margin-bottom: 2rem;
    position: sticky;
    top: 2rem;
    z-index: 100;
    border-radius: 0.4rem;
    box-shadow: 0 0.5rem 1rem var(--wp--preset--color--neutral-30), 0 -3rem 2rem 2rem var(--wp--preset--color--white);
}

.wp-admin .op-block__event .op-block__inner > header {
    position: static;
    box-shadow: 0 0.5rem 1rem var(--wp--preset--color--neutral-30);
}

/* ------------------------------------------
 >  Participant Search Filter
--------------------------------------------- */

.op-block__event .op-participants-search {
    padding: 1rem;
}

.op-block__event .op-search-form {
    background: var(--wp--preset--color--primary-10);
    display: flex;
    border: 0.1rem solid var(--wp--preset--color--primary-90);
    border-radius: 0.4rem;
}

.op-block__event :is( .op-search-label, .op-search-label input ) {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.op-block__event .op-search-label {
    color: var(--wp--preset--color--primary-40);
    font-weight: 500;
    transition: color 0.2s ease-in-out;;
}

.op-block__event .op-search-label:is( :active, :hover, :focus, :focus-within, :focus-visible ) {
    color: var(--wp--preset--color--primary-100);
    font-weight: 600;
}

.op-block__event .op-search-label .op-icon {
    color: currentColor;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.3rem;
    border-right: 0.1rem solid transparent;
    cursor: pointer;
}

.op-block__event .op-search-label .op-icon:is( :hover, :focus )::before {
    background: var(--wp--preset--color--accent-60);
    color: var(--wp--preset--color--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0.4rem;
    transition: all 200ms ease-in-out;
}

.op-block__event .op-search-label input {
    background-color: transparent;
    color: currentColor;
    padding: 1rem 2rem 1rem 0;
    border: none;
}

.op-block__event [data-search-active="1"] .op-search-label input {
    padding-right: 0;
}

.op-block__event .op-search-label input::placeholder {
    color: currentColor;
    font-weight: 500;
}

.op-block__event .op-search-cancel {
    color: var(--wp--preset--color--primary-40);
    font-size: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    width: 5rem;
    cursor: pointer;
}

.op-block__event .op-search-cancel:is( :hover, :focus ) .op-icon::before {
    background: var(--wp--preset--color--accent-60);
    color: var(--wp--preset--color--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0.4rem;
    transition: all 200ms ease-in-out;
}

.op-block__event [data-search-active="1"] .op-search-cancel {
    display: flex;
}

.op-block__event .op-search-filter {
    margin: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    position: relative;
    border: none;
    border-radius: 0.4rem;
}

.op-block__event .op-filter-label .op-button-title {
    display: none;
}

.op-block__event [id*=__filter-button],
.op-block__event .op-filter-options .op-filter-input-label input {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
}

.op-block__event :where(.op-filter-label) {
    background-color: var(--wp--preset--color--white);
    min-width: 4rem;
    max-width: 4rem;
}

.op-block__event .op-filter-label .op-icon {
    padding: 0.9rem;
}

.op-block__event [id*=__filter-button]:checked ~ .op-filter-label {
    border-radius: 0.4rem 0.4rem 0 0;
}

.op-block__event [id*=__filter-button] ~ .op-filter-options {
    background-color: var(--wp--preset--color--white);
    display: none;
    flex-direction: column;
    width: 20.5rem;
    position: absolute;
    top: calc(100% - 0.6rem);
    right: 0.5rem;
    z-index: 1;
    border: 0.1rem solid var(--wp--preset--color--primary-100);
    border-radius: 0.4rem 0 0.4rem 0.4rem;
    box-shadow: 0 0.5rem 1rem var(--wp--preset--color--neutral-30);
    overflow: hidden;
}

.op-block__event [id*=__filter-button]:checked ~ .op-filter-options {
    display: flex;
}

.op-block__event .op-filter-options .op-filter-input-label {
    color: var(--wp--preset--color--primary-40);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.op-block__event .op-filter-input-label:is( :hover, :focus ) {
    background-color: var(--wp--preset--color--primary-10);
    color: var(--wp--preset--color--primary-100);
    border-color: var(--wp--preset--color--primary-100);
}

.op-block__event .op-filter-input-label:not( :last-child ) {
    border-bottom: 0.1rem solid var(--wp--preset--color--neutral-20);
}

.op-block__event .op-filter-input-label:first-child {
    border-color: var(--wp--preset--color--primary-20);
}

.op-block__event .op-filter-input-label .op-check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid currentColor;
    border-radius: 1rem;
}

.op-block__event .op-filter-input-label input:checked ~ .op-check {
    background-color: currentColor;
}

.op-block__event .op-filter-input-label input:checked ~ .op-text {
    font-weight: 500;
}

.op-block__event .op-filter-input-label input:checked ~ .op-check::before {
    background-color: var(--wp--preset--color--white);
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
}

/* ------------------------------------------
 >  Participant Column Info
--------------------------------------------- */

.op-block__event .op-participant-col-info {
    display: none;
    align-items: center;
    padding: 0 1rem 1rem;
    border-radius: 0.4rem;
}

.op-block__event[ data-column-count="1" ] .op-participant-col-info {
    grid-template-columns: 5.4rem 1fr calc( 5ch + 4rem ) 5rem 16rem;
}

.op-block__event[ data-column-count="2" ] .op-participant-col-info {
    grid-template-columns: 5.4rem repeat(2, 1fr) calc( 5ch + 4rem ) 5rem 16rem;
}

.op-block__event[ data-column-count="3" ] .op-participant-col-info {
    grid-template-columns: 5.4rem repeat(3, 1fr) calc( 5ch + 4rem ) 5rem 16rem;
}

.op-block__event[ data-column-count="4" ] .op-participant-col-info {
    grid-template-columns: 5.4rem repeat(4, 1fr) calc( 5ch + 4rem ) 5rem 16rem;
}

.op-block__event[ data-column-count="5" ] .op-participant-col-info {
    grid-template-columns: 5.4rem repeat(5, 1fr) calc( 5ch + 4rem ) 5rem 16rem;
}

.op-block__event .op-participant-col-info p {
    font-weight: 500;
    line-height: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem 2rem;
}

.op-block__event .op-participant-col-info p[class*="op-col-line"] {
    display: none;
    min-width: 0;
}

.op-block__event[ data-column-count="1" ] .op-participant-col-info p:where( .op-col-line-1 ),
.op-block__event[ data-column-count="2" ] .op-participant-col-info p:where( .op-col-line-1, .op-col-line-2 ),
.op-block__event[ data-column-count="3" ] .op-participant-col-info p:where( .op-col-line-1, .op-col-line-2, .op-col-line-3 ),
.op-block__event[ data-column-count="4" ] .op-participant-col-info p:where( .op-col-line-1, .op-col-line-2, .op-col-line-3, .op-col-line-4 ),
.op-block__event[ data-column-count="5" ] .op-participant-col-info p:where( .op-col-line-1, .op-col-line-2, .op-col-line-3, .op-col-line-4, .op-col-line-5 ) {
    display: flex;
}

.op-block__event .op-participant-col-info p[class*="op-col-line"] .op-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.op-block__event .op-participant-col-info p[class*="op-col-line"] .op-number,
.op-block__event .op-modal .op-input-wrapper .op-label-title .op-number {
    padding-left: 1ch;
}

.op-block__event .op-participant-col-info p:not( .op-col-amount-of-prints ) {
    border-right: 0.1rem solid var(--wp--preset--color--neutral-20);
}

.op-block__event .op-participant-col-info p:is( .op-col-icon, .op-col-arrival-time, .op-col-amount-of-prints ) {
    justify-content: center;
    padding: 0;
}

.op-block__event .op-participant-col-info .op-download-menu .op-button .op-icon {
    font-size: calc( var(--wp--preset--font-size--small) + ( var(--wp--preset--font-size--small) / 2 ) );
}

.op-block__event .op-participant-col-info .op-download-menu .op-button:first-child:not( :hover ) {
    border-radius: 0.4rem 0 0 0.4rem;
}

.op-block__event .op-participant-col-info .op-download-menu .op-button:first-child:hover {
    z-index: 1;
    border-radius: 0;
}

.op-block__event .op-participant-col-info .op-download-menu .op-button:last-child {
    margin-left: -0.1rem;
    border-radius: 0 0.4rem 0.4rem 0;
}

/* ------------------------------------------
 >  Participant Rows
--------------------------------------------- */

.op-block__event .op-participant-rows {
    font-weight: 500;
    gap: 0.3rem;
}

.op-block__event .op-label,
.op-block__event .op-col-amount-of-prints,
.op-block__event .op-col-arrival-time {
    font-variant-numeric: tabular-nums;
}

.op-block__event article[ class*='op-participant' ] {
    display: none;
    width: 100%;
}

.op-block__event article[ class*='op-participant' ].op-active {
    display: block;
}

.op-block__event article[ class*='op-participant' ].op-fade-in {
    display: block;
    animation: fade 300ms ease-in;
}

.op-block__event article[ class*='op-participant' ].op-fade-out {
    animation: fade 300ms ease-out reverse;
    opacity: 0;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.op-block__event .op-participant_skeleton p {
    position: relative;
    color: var(--wp--preset--color--neutral-40);
    background-color: var(--wp--preset--color--neutral-20);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    min-height: 7rem;
    padding: 1rem 1rem 1rem 3rem;
    border-left: 0.4rem solid var(--wp--preset--color--neutral-30);
    border-radius: 0.4rem;
    box-shadow: 0 0.5rem 1rem var(--wp--preset--color--neutral-30);
    opacity: 0.6;
}

.op-block__event .op-participant_skeleton:nth-child(2) p {
    opacity: 0.4;
}

.op-block__event .op-participant_skeleton:nth-child(3) p {
    opacity: 0.2;
}

.op-block__event .op-participant_skeleton p .op-shimmer {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.4rem;
}

.op-block__event .op-participant_skeleton p .op-shimmer::before {
    background: linear-gradient(300deg,rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 70%);
    content: '';
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    animation: shimmer 3s infinite;
}

.op-block__event .op-participant_skeleton:nth-child(2) p .op-shimmer::before {
    animation-delay: 200ms;
}

.op-block__event .op-participant_skeleton:nth-child(3) p .op-shimmer::before {
    animation-delay: 400ms;
}

@keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
}

.op-block__event article header {
    background-color: var(--wp--preset--color--white);
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    z-index: 2;
    border-left: 0.4rem solid var(--wp--preset--color--primary-90);
    border-radius: 0.4rem;
    box-shadow: 0 0.5rem 1rem var(--wp--preset--color--neutral-30);
}

.op-block__event article[data-validation="1"] header {
    border-color: var(--wp--preset--color--action-60);
}

.op-block__event article[data-validation="2"] header {
    border-color: var(--wp--preset--color--accent-60);
}

.op-block__event article[data-validation="3"] header {
    border-color: var(--wp--preset--color--error-100);
}

.op-block__event article header .op-col-icon .op-icon {
    background-color: var(--wp--preset--color--primary-10);
    color: var(--wp--preset--color--primary-90);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 0.1rem solid var(--wp--preset--color--primary-90);
    border-radius: 0.4rem;
}

.op-block__event article[data-validation="1"] .op-col-icon .op-icon {
    background-color: var(--wp--preset--color--action-10);
    color: var(--wp--preset--color--action-60);
    border-color: var(--wp--preset--color--action-60);
}

.op-block__event article[data-validation="1"] .op-col-icon .op-icon::before {
    content: var(--fa-icon-print);
}

.op-block__event article[data-validation="2"] .op-col-icon .op-icon {
    background-color: var(--wp--preset--color--accent-10);
    color: var(--wp--preset--color--accent-60);
    border-color: var(--wp--preset--color--accent-60);
}

.op-block__event article[data-validation="2"] .op-col-icon .op-icon::before {
    content: var(--fa-icon-check);
}

.op-block__event article[data-validation="3"] .op-col-icon .op-icon {
    background-color: var(--wp--preset--color--error-10);
    color: var(--wp--preset--color--error-100);
    border-color: var(--wp--preset--color--error-100);
}

.op-block__event article[data-validation="3"] .op-col-icon .op-icon::before {
    content: var(--fa-icon-circle-exclamation);
}

.op-block__event .op-col-lines {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    border-right: 0.1rem solid var(--wp--preset--color--neutral-20);
}

.op-block__event .op-col-lines p,
.op-block__event header .op-col-arrival-time {
    overflow-wrap: anywhere;
    display: flex;
    align-items: center;
    padding: 0.9rem 1rem 0.9rem 0;
}

.op-block__event[ data-column-count="1" ] .op-col-lines p:where( :nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5) ),
.op-block__event[ data-column-count="2" ] .op-col-lines p:where( :nth-child(3), :nth-child(4), :nth-child(5) ),
.op-block__event[ data-column-count="3" ] .op-col-lines p:where( :nth-child(4), :nth-child(5) ),
.op-block__event[ data-column-count="4" ] .op-col-lines p:where( :nth-child(5) ) {
    display: none;
}

.op-block__event[ data-column-count="1" ] .op-col-lines p:not( :nth-child(1) ),
.op-block__event[ data-column-count="2" ] .op-col-lines p:not( :nth-child(2) ),
.op-block__event[ data-column-count="3" ] .op-col-lines p:not( :nth-child(3) ),
.op-block__event[ data-column-count="4" ] .op-col-lines p:not( :nth-child(4) ),
.op-block__event[ data-column-count="5" ] .op-col-lines p:not( :nth-child(5) ) {
    border-bottom: 0.1rem solid var(--wp--preset--color--neutral-20);
}

.op-block__event .op-col-lines .op-label {
    color: var(--wp--preset--color--neutral-50);
    font-size: var(--wp--preset--font-size--x-small);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
    border: 0.1rem solid var(--wp--preset--color--neutral-30);
    border-radius: 50%;
}

.op-block__event .op-col-print-info {
    display: flex;
    flex-direction: column;
}

.op-block__event .op-col-print-info .op-button {
    flex: 1;
    min-width: 5rem;
    border-radius: 0.4rem 0.4rem 0 0;
}

.op-block__event .op-col-print-info .op-button .op-icon {
    padding: 0;
}

.op-block__event .op-col-print-info .op-col-amount-of-prints {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    border: 0.1rem solid var(--wp--preset--color--primary-90);
    border-top: none;
    border-radius: 0 0 0.4rem 0.4rem;
}

.op-block__event article header :is( .op-col-icon, .op-col-arrival-time, .op-button .op-button-title ) {
    display: none;
}

/* ---------------------------
 >  Participant Row - Info
------------------------------ */

.op-block__event article footer {
    background: var(--wp--preset--color--neutral-10);
    font-size: var(--wp--preset--font-size--x-small);
    color: var(--wp--preset--color--neutral-70);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: calc(100% - 2rem);
    max-height: 1rem;
    margin: -1rem auto 0;
    padding: 0 1.4rem;
    position: relative;
    z-index: 1;
    border-radius: 0 0 0.4rem 0.4rem;
    box-shadow: 0.2rem 0.5rem 1rem var(--wp--preset--color--neutral-30);
    overflow: hidden;
    transform: translateY(-100%);
    transition: all 0.2s ease-in-out;
}

.op-block__event article.op-active:is( [data-validation="1"], [data-validation="2"], [data-validation="3"] ) footer {
    padding: 2.6rem 1.4rem 1.6rem;
    max-height: 100%;
    transform: translateY(0);
}

.op-block__event footer :where( .op-message, .op-col-arrival-time ) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.op-block__event footer :where( .op-message, .op-col-arrival-time ) .op-icon {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2rem;
    margin-right: 1rem;
}

.op-block__event footer .op-message .op-icon {
    background-color: var(--wp--preset--color--primary-10);
    color: var(--wp--preset--color--primary-90);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid var(--wp--preset--color--primary-90);
    border-radius: 3rem;
}

.op-block__event footer .op-message .op-text {
    display: none;
}

.op-block__event article[data-validation="1"] footer .op-message .op-print_printing,
.op-block__event article[data-validation="2"] footer .op-message .op-print_success,
.op-block__event article[data-validation="3"] footer .op-message .op-print_error {
    display: block
}

.op-block__event article[data-validation="1"] footer .op-message .op-icon {
    background-color: var(--wp--preset--color--action-10);
    color: var(--wp--preset--color--action-60);
    border-color: var(--wp--preset--color--action-60);
}

.op-block__event article[data-validation="1"] footer .op-message .op-icon::before {
    content: var(--fa-icon-print);
}

.op-block__event article[data-validation="2"] footer .op-message .op-icon {
    background-color: var(--wp--preset--color--accent-10);
    color: var(--wp--preset--color--accent-60);
    border-color: var(--wp--preset--color--accent-60);
}

.op-block__event article[data-validation="2"] footer .op-message .op-icon::before {
    content: var(--fa-icon-check);
}

.op-block__event article[data-validation="3"] footer .op-message .op-icon {
    background-color: var(--wp--preset--color--error-10);
    color: var(--wp--preset--color--error-100);
    border-color: var(--wp--preset--color--error-100);
}

.op-block__event article[data-validation="3"] footer .op-message .op-icon::before {
    content: var(--fa-icon-circle-exclamation);
}

.op-block__event footer .op-col-arrival-time .op-icon::before {
    color: var(--wp--preset--color--neutral-50);
}

/* ------------------------------------------
 >  Add Participant Modal Window
--------------------------------------------- */
.op-block__event .op-modal .op-form {
    padding: 0;
}

.op-block__event .op-modal .op-modal__inner .op-flex-col {
    text-align: left;
}

.op-block__event .op-modal .op-modal-header {
    padding: 0.5rem 6rem 2rem 0;
    position: relative;
}

.op-block__event .op-modal .op-modal-header .op-modal-description {
    line-height: var(--wp--custom--typography--line-height--normal);
}

.op-block__event .op-modal .op-modal-header .op-button-cancel {
    position: absolute;
    top: 0;
    right: 0;
}

.op-block__event .op-modal .op-modal-header .op-button-cancel:is( .op-button-size-small ) .op-icon::before {
    font-size: 2rem;
}

.op-block__event .op-modal .op-fieldset-step {
    padding-bottom: 3rem
}

.op-block__event .op-modal .op-fieldset__inner {
    gap: 2rem;
}

.op-block__event .op-modal .op-fieldset__inner input[type="text"],
.op-block__event .op-modal .op-fieldset__inner textarea {
    padding: 1rem 2rem;
    resize: none;
}

.op-block__event .op-modal .op-fieldset__inner .op-form-validation {
    background-color: var(--wp--preset--color--error-10);
    color: var(--wp--preset--color--black);
    line-height: var(--wp--custom--typography--line-height--medium);
    display: none;
    gap: 1rem;
    padding: 0.6rem 1.2rem;
    border: 0.1rem solid var(--wp--preset--color--error-100);
    border-radius: 0.4rem;
}

.op-block__event .op-modal [data-validation="2"] .op-fieldset__inner .op-form-validation {
    display: flex;
}

.op-block__event .op-modal .op-fieldset__inner .op-form-validation .op-icon {
    color: var(--wp--preset--color--error-100);
    font-size: 2rem;
    display: flex;
    padding-top: 0.2rem;
}

@media screen and /* ( max-width: 900px ) and ( min-width: 600px ), */ ( min-width: 1300px ) {

    /* ------------------------------------------
    >  Participant Search Filter
    --------------------------------------------- */

    .op-block__event .op-search-label .op-icon {
        border-right-color: var(--wp--preset--color--primary-20);
    }

    .op-block__event .op-search-label input {
        padding-left: 2rem;
    }

    .op-block__event :where(.op-filter-label) {
        min-width: 20.5rem;
        max-width: 20.5rem;
    }
    
    .op-block__event .op-filter-label .op-icon {
        padding-right: 1.2rem;
        padding-left: 1.6rem;
    }

    .op-block__event .op-filter-label .op-button-title {
        display: flex;
    }
    
    .op-block__event [id*=__filter-button] ~ .op-filter-options {
        border-radius: 0 0 0.4rem 0.4rem;
    }    

    /* ------------------------------------------
    >  Participant Column Info
    --------------------------------------------- */

    .op-block__event[data-column-count] .op-participant-col-info {
        display: grid;
    }

    .op-block__event .op-participant-col-info .op-button.op-button-add .op-icon {
        padding-left: 2.1rem;
        padding-right: 0.7rem;
        position: relative;
    }
    
    .op-block__event .op-participant-col-info .op-button.op-button-add .op-icon::after {
        content: var(--fa-icon-xmark);
        font: var(--fa-font-solid);
        font-size: 1.8rem;
        position: absolute;
        left: 1.3rem;
        transform: rotate(45deg);
    }
    
    .op-block__event .op-participant-col-info .op-button.op-button-add .op-button-title  {
        white-space: nowrap;
        max-width: inherit;
    }

    /* ------------------------------------------
    >  Participant Rows
    --------------------------------------------- */

    .op-block__event article header {
        grid-template-columns: auto 1fr calc( 5ch + 4rem ) auto;
        gap: 0;
    }

    .op-block__event article header :is( .op-col-icon, .op-col-arrival-time, .op-button .op-button-title ) {
        display: flex;
    }

    .op-block__event .op-col-lines {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
    }
  
    .op-block__event[ data-column-count="2" ] .op-col-lines {
        grid-template-columns: repeat(2, calc(100% / 2));
    }
    
    .op-block__event[ data-column-count="3" ] .op-col-lines {
        grid-template-columns: repeat(3, calc(100% / 3));
    }
    
    .op-block__event[ data-column-count="4" ] .op-col-lines {
        grid-template-columns: repeat(4, calc(100% / 4));
    }
    
    .op-block__event[ data-column-count="5" ] .op-col-lines {
        grid-template-columns: repeat(5, calc(100% / 5));
    }
    
    .op-block__event .op-col-print-info .op-button {
        min-width: 16rem;
        border-radius: 0 0.4rem 0.4rem 0;
    }
        
    .op-block__event .op-col-print-info .op-button .op-icon {
        display: none;
    }

    .op-block__event .op-col-print-info .op-button .op-button-title {
        padding-left: 2.4rem;
    }

    .op-block__event :where( .op-icon )::before {
        font: var(--fa-font-solid);
        font-size: 2.4rem;
    }

    .op-block__event .op-col-lines p, 
    .op-block__event header .op-col-arrival-time {
        min-width: 0;
        padding: 0.9rem 2rem;
    }
    
    .op-block__event[ data-column-count="1" ] .op-col-lines p:not( :nth-child(1) ),
    .op-block__event[ data-column-count="2" ] .op-col-lines p:not( :nth-child(2) ),
    .op-block__event[ data-column-count="3" ] .op-col-lines p:not( :nth-child(3) ),
    .op-block__event[ data-column-count="4" ] .op-col-lines p:not( :nth-child(4) ),
    .op-block__event[ data-column-count="5" ] .op-col-lines p:not( :nth-child(5) ) {
        border-right: 0.1rem solid var(--wp--preset--color--neutral-20);
        border-bottom: none;
    }

    .op-block__event .op-col-lines p .op-label {
        display: none;
    }

    .op-block__event .op-col-lines p .op-text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .op-block__event .op-col-lines p:hover .op-text {
        overflow: visible;
        width: auto;
        background: white;
        padding: 0.8rem 1rem 0.8rem 0;
        z-index: 1;
        border-radius: 0 0.4rem 0.4rem 0;
        box-shadow: 0.4rem 0 0.4rem lightgray;
    }

    .op-block__event header .op-col-arrival-time::before {
        display: none;
    }

    .op-block__event .op-col-print-info {
        flex-direction: row-reverse;
    }

    .op-block__event .op-col-print-info .op-col-amount-of-prints {
        width: 5rem;
        border-top: 0.1rem solid;
        border-right: none;
        border-radius: 0.4rem 0 0 0.4rem;
    }

    .op-block__event article footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .op-block__event article.op-active:is( [data-validation="1"], [data-validation="2"], [data-validation="3"] ) footer {
        padding: 1.6rem 1.4rem 0.6rem;
    }

    .op-block__event footer .op-col-arrival-time .op-icon {
        height: 2rem;
    }

}