/* ------------------------------------------------------------------------
 #  The OnsitePrint (Event Creation) Block Style 
 ?  Updated: 2024-07-02 - 20:58 (Y:m:d - H:i)
 ?  Info: Added Modal Window (CSS).
--------------------------------------------------------------------------- */
/* ------------------------------------------
 >  Modal Window
--------------------------------------------- */
.op-block__event-creation .op-modal .op-modal__inner {
    gap: 2rem;
}

.op-block__event-creation .op-modal .op-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.op-block__event-creation .op-modal .op-modal-header .op-modal-title {
    padding: 0.5rem 0 0;
}

.op-block__event-creation .op-modal .op-modal-header .op-button-cancel:is( .op-button-size-small ) .op-icon::before {
    font-size: 2rem;
}

.op-block__event-creation .op-modal .op-modal__inner .op-flex-row {
    padding-top: 0;
}