/* ------------------------------------------------------------------------
 #  The OnsitePrint (Event Creation) Block Style 
 ?  Updated: 2025-09-24 - 03:45 (Y:m:d - H:i)
 ?  Info: Added Gray Color to Grid Columns that are not included in the layout.
--------------------------------------------------------------------------- */
/* ------------------------------------------
 >  Approval Display
--------------------------------------------- */
.op-block__event-creation .op-event-approval-display {
    background-color: var(--wp--preset--color--white);
    width: 100%;
    border: 0.1rem solid var(--form-color-light);
    border-radius: 0.4rem;
}

.op-block__event-creation .op-event-approval-display .op-content {
    flex: 1 1 60%;
    padding-top: 1rem;
}

.op-block__event-creation .op-event-approval-display .op-template {
    flex: 1 1 40%;
    padding-top: 1rem;
    border-bottom: 0.1rem solid var(--form-color-light);
}

.op-block__event-creation .op-event-approval-display .op-approval-field-print-button {
    margin-top: auto;
    padding: 1rem;
}

.op-block__event-creation .op-event-approval-display [ class*="op-approval-field" ] {
    line-height: var(--wp--custom--typography--line-height--small);
    flex-wrap: nowrap;
}

.op-block__event-creation .op-event-approval-display [ class*="op-approval-field" ] h4 {
    padding: 0.5rem 2rem 0.2rem;
}

.op-block__event-creation .op-event-approval-display [ class*="op-approval-field" ] p {
    padding: 0 2rem 0.5rem;
}

.op-block__event-creation .op-event-approval-display [ class*="op-approval-field" ] .op-text-title {
    color: var(--form-color-dark);
    font-size: var(--wp--preset--font-size--x-small);
    line-height: var(--wp--custom--typography--line-height--small);
    font-weight: 600;
    padding-bottom: 0.2rem;
}

.op-block__event-creation .op-event-approval-display .op-template [ class*="op-approval-field" ] .op-text-title {
    padding-bottom: 0.7rem;
}
.op-block__event-creation .op-event-approval-display .op-template [ class*="op-approval-field" ] img {
    max-width: 30rem;
    padding: 0 1rem 1rem;
}

/* ------------------------------------------
 >  Modal Window
--------------------------------------------- */
.op-block__event-creation .op-modal .op-modal__inner {
    gap: 2rem;
}

.op-block__event-creation .op-modal .op-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.op-block__event-creation .op-modal .op-modal-header .op-modal-title {
    padding: 0.5rem 0 0;
}

.op-block__event-creation .op-modal .op-modal-header .op-button-cancel:is( .op-button-size-small ) .op-icon::before {
    font-size: 2rem;
}

.op-block__event-creation .op-modal .op-modal__inner .op-flex-row {
    padding-top: 0;
}

/* ------------------------------------------
 >  Grid
--------------------------------------------- */
.op-block__event-creation .op-grid-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    flex: 1;
    visibility: hidden;
}

.op-block__event-creation .op-grid-wrapper.op-grid-active {
    visibility: visible;
}

.op-block__event-creation [ id*="-form-grid" ] {
    flex: 1;
    min-height: 22rem;
    padding: 0.4rem;
    border: 0.1rem solid var(--form-color-light);
    border-radius: 0.4rem;
}

.op-block__event-creation [ id*="-form-grid" ] > div {
    width: 100% !important;
    height: 100% !important;
}

.op-block__event-creation [id*="-form-grid"] .dgxl-display {
    border: 1px solid gray;
    border-radius: 4px;
    overflow: hidden;
    z-index: -1;
}

.op-block__event-creation [id*="-form-grid"] .dgxl-part-layoutButton {
    z-index: 1;
}

.op-block__event-creation [id*="-form-grid"] .dgxl-colHeaderBackground {
    background: var(--wp--preset--color--neutral-20) !important;
}

.op-block__event-creation [id*="-form-grid"] .dgxl-column .dgxl-columnHeaderLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    left: 0 !important;
    right: 0 !important;
}

.op-block__event-creation [id*="-form-grid"] .dgxl-column .dgxl-columnHeaderLabel > span {
    line-height: 30px;
    display: flex;
    align-items: center;
    width: calc( 100% + 1px);
    height: 30px;
    padding: 4px 6px;
    box-sizing: border-box;
}

.op-block__event-creation [id*="-form-grid"] .dgxl-column .dgxl-columnHeaderLabel > span.op-col {
    background: var(--form-color-light);
    color: var(--wp--preset--color--black);
    border: 1px solid var(--form-color-dark);
    border-top: none;
}

.op-block__event-creation [id*="-form-grid"] .dgxl-column .dgxl-columnHeaderLabel > span.op-col-qr {
    background: var(--form-color-medium);
    color: var(--wp--preset--color--black);
    border: 1px solid var(--form-color-dark);
    border-top: none;
}

.op-block__event-creation [id*="-form-grid"] .dgxl-column .dgxl-columnHeaderLabel > span.op-col-no {
    background: var(--wp--preset--color--neutral-40);
    color: var(--wp--preset--color--black);
    border: 1px solid var(--wp--preset--color--neutral-50);
    border-top: none;
}

.op-block__event-creation [id*="-form-grid"] .dgxl-column .dgxl-columnHeaderLabel > span.op-col-name {
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;
}

.op-block__event-creation [id*="-form-grid"] .dgxl-column .dgxl-columnHeaderLabel > span.op-col-name .op-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.op-block__event-creation [id*="-form-grid"] .dgxl-column:has( span.op-col-no ) .dgxl-innerColumn .dgxl-column-center {
    color: var(--wp--preset--color--neutral-50);
}

/* ------------------------------------------
 >  Dropdown
--------------------------------------------- */
.op-dropdown {
    position: relative;
}

.op-dropdown .op-button-dropdown {
    position: relative;
    z-index: 1;
}
.op-dropdown .op-button-dropdown.op-button .op-button-title {
    padding-left: 0;
    padding-right: 0;
}

.op-dropdown .op-button-dropdown.op-button:where( [data-icon-position="left"] ) .op-icon-menu {
    padding-left: 1.2rem;
    padding-right: 1.4rem;
}

.op-dropdown .op-button-dropdown.op-button:where( [data-icon-position="right"] ) .op-icon {
    padding-left: 0.3rem;
}

.op-dropdown .op-button-dropdown.op-button:where( [data-icon-position="right"] ) .op-icon-menu {
    padding-right: 0.3rem;
    padding-left: 1.4rem;
}

.op-dropdown .op-button-dropdown .op-icon-menu::before {
	content: var(--fa-icon-angle-down);
}

.op-dropdown.op-active .op-button-dropdown .op-icon-menu::before {
	content: var(--fa-icon-angle-up);
}

.op-dropdown .op-button-dropdown:is( :hover ) ~ div {
    background: var(--wp--preset--color--accent-60);
}

.op-dropdown .op-button-dropdown:is( [data-color*="accent"] ):is( :hover ) ~ div {
    background: var(--wp--preset--color--primary-90);
}

.op-menu-dropdown {
    background: var(--form-color-medium);
    flex-direction: column;
    gap: 0.4rem;
    display: none;
    margin-top: -0.4rem;
    padding: 0.4rem;
    position: absolute;
    z-index: 0;
    border-radius: 0 0.4rem 0.4rem 0.4rem;
    transition: all 200ms ease-in-out;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.op-dropdown.op-active .op-menu-dropdown {
    display: flex;
}

.op-dropdown:where( [data-menu-position="right"] ) .op-menu-dropdown {
    right: 0;
    border-radius: 0.4rem 0 0.4rem 0.4rem;
}

.op-menu-dropdown > button {
    min-width: max-content;
    justify-content: flex-start;
    background: var(--wp--preset--color--white);
    border-color: var(--wp--preset--color--white);
}

/* ------------------------------------------
 >  Screen Width (1300px)
--------------------------------------------- */
@media screen and ( min-width: 1300px ) {

    /* ------------------------------------------
    >  Approval Display
    --------------------------------------------- */
    .op-block__event-creation .op-event-approval-display {
        flex-direction: row;
    }

    .op-block__event-creation .op-event-approval-display .op-template {
        border-bottom: none;
        border-right: 0.1rem solid var(--form-color-light);
    }

}