/* ------------------------------------------------------------------------
 #  The OnsitePrint (Event Creation) Block Style 
 ?  Updated: 2024-09-12 - 14:15 (Y:m:d - H:i)
 ?  Info: Added @media screen width (1300px).
--------------------------------------------------------------------------- */
/* ------------------------------------------
 >  Approval Display
--------------------------------------------- */
.op-block__event-creation .op-event-approval-display {
    background-color: var(--wp--preset--color--white);
    width: 100%;
    border: 0.1rem solid var(--form-color-light);
    border-radius: 0.4rem;
}

.op-block__event-creation .op-event-approval-display .op-content {
    flex: 1 1 60%;
    padding-top: 1rem;
}

.op-block__event-creation .op-event-approval-display .op-template {
    flex: 1 1 40%;
    padding-top: 1rem;
    border-bottom: 0.1rem solid var(--form-color-light);
}

.op-block__event-creation .op-event-approval-display .op-approval-field-print-button {
    margin-top: auto;
    padding: 1rem;
}

.op-block__event-creation .op-event-approval-display [ class*="op-approval-field" ] {
    line-height: var(--wp--custom--typography--line-height--small);
    flex-wrap: nowrap;
}

.op-block__event-creation .op-event-approval-display [ class*="op-approval-field" ] h4 {
    padding: 0.5rem 2rem 0.2rem;
}

.op-block__event-creation .op-event-approval-display [ class*="op-approval-field" ] p {
    padding: 0 2rem 0.5rem;
}

.op-block__event-creation .op-event-approval-display [ class*="op-approval-field" ] .op-text-title {
    color: var(--form-color-dark);
    font-size: var(--wp--preset--font-size--x-small);
    line-height: var(--wp--custom--typography--line-height--small);
    font-weight: 600;
    padding-bottom: 0.2rem;
}

.op-block__event-creation .op-event-approval-display .op-template [ class*="op-approval-field" ] .op-text-title {
    padding-bottom: 0.7rem;
}
.op-block__event-creation .op-event-approval-display .op-template [ class*="op-approval-field" ] img {
    padding: 0 1rem 1rem;
}

/* ------------------------------------------
 >  Modal Window
--------------------------------------------- */
.op-block__event-creation .op-modal .op-modal__inner {
    gap: 2rem;
}

.op-block__event-creation .op-modal .op-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.op-block__event-creation .op-modal .op-modal-header .op-modal-title {
    padding: 0.5rem 0 0;
}

.op-block__event-creation .op-modal .op-modal-header .op-button-cancel:is( .op-button-size-small ) .op-icon::before {
    font-size: 2rem;
}

.op-block__event-creation .op-modal .op-modal__inner .op-flex-row {
    padding-top: 0;
}

/* ------------------------------------------
 >  Screen Width (1300px)
--------------------------------------------- */
@media screen and ( min-width: 1300px ) {

    /* ------------------------------------------
    >  Approval Display
    --------------------------------------------- */
    .op-block__event-creation .op-event-approval-display {
        flex-direction: row;
    }

    .op-block__event-creation .op-event-approval-display .op-template {
        border-bottom: none;
        border-right: 0.1rem solid var(--form-color-light);
    }

}